.html{
    background-color: cornsilk;
}

.logo {
  background-image: linear-gradient(180deg, rgb(247, 139, 67), rgb(255, 192, 155));
  overflow: hidden;
  padding: 1%;
}
.logo img {
  display: block;
  ;
  background-color: transparent;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 7%;
  width: 10%;
}
.topnav {
  overflow: hidden;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(255, 192, 155), #FFE5D7);;
}
.topnav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  word-spacing: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  justify-content: space-evenly;
}
.topnav a:hover {
  background-color: transparent;
  color: rgb(7, 7, 7);
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* The dropdown container */
.dropdown1 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown1 .navDrop1 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown1:hover .navDrop1 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content01 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content01 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content01 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content01 {
  display: block;
}
/* The dropdown container */
.dropdown2 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown2 .navDrop2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown2:hover .navDrop2 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content02 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content02 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content02 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content02 {
  display: block;
}
/* The dropdown container */
.dropdown3 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown3 .navDrop3 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown3:hover .navDrop3 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content03 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content03 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content03 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content03 {
  display: block;
}
/* The dropdown container */
.dropdown4 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown4 .navDrop4 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown4:hover .navDrop4 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content04 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content04 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content04 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown4:hover .dropdown-content04 {
  display: block;
}
/* The dropdown container */
.dropdown5 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown5 .navDrop5 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown5:hover .navDrop5 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content05 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content05 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content05 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown5:hover .dropdown-content05 {
  display: block;
}
/* The dropdown container */
.dropdown6 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown6 .navDrop6 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown6:hover .navDrop6 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content06 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content06 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content06 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown6:hover .dropdown-content06 {
  display: block;
}
/* The dropdown container */
.dropdown7 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown7 .navDrop7 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown7:hover .navDrop7 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content07 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content07 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content07 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown7:hover .dropdown-content07 {
  display: block;
}
/* The dropdown container */
.dropdown8 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown8 .navDrop8 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown8:hover .navDrop8 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content08 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content08 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content08 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown8:hover .dropdown-content08 {
  display: block;
}
/* The dropdown container */
.dropdown9 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown9 .navDrop9 {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(19, 12, 12);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown9:hover .navDrop9 {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content09 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content09 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-duration: 0.4s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content09 a:hover {
  background-color: transparent;
  color: rgb(119, 119, 119);
  transition-duration: 0.4s;
}

/* Show the dropdown menu on hover */
.dropdown9:hover .dropdown-content09 {
  display: block;
}
.page-header {
  background-image: linear-gradient(red, yellow)
}
.container {
  height: 60vh;
  width: 100%;
  background: lightyellow;
  position: relative; 
}
.container img {
  height: 60vh;
  width: 100%;
}
.banner {
  height: 24vh;
  width: 100%;
  padding: 0 8%;
  background-image: linear-gradient(180deg, rgb(247, 139, 67), rgb(255, 192, 155));
  position: relative; 
}
.banner-content h1 {
  float: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner-content p {
  float: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.banner-content h5 {
  float: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 12px;
}
.banner-content h5:hover {
  background-color: transparent;
  color: lightgray;
}
.trending {
  height: 80vh;
  width: 100%;
  padding: 0 8%;
  background: white;
  position: relative;
}
.dropbtn1 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropbtn1:hover, .dropbtn1:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860}

.dropbtn2 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 39px;
  top: 27px;
}
.dropbtn2:hover, .dropbtn2:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn3 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 39px;
  top: 27px;
}
.dropbtn3:hover, .dropbtn3:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn4 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  left: 500px;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 15px;
  top: 15px;
}
.dropbtn4:hover, .dropbtn4:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn5 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.dropbtn5:hover, .dropbtn5:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn6 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 15px;
  top: 15px;
}
.dropbtn6:hover, .dropbtn6:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn7 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 15px;
  top: 15px;
}
.dropbtn7:hover, .dropbtn7:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn8 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 15px;
  top: 15px;
}
.dropbtn8:hover, .dropbtn8:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn9 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 15px;
  top: 15px;
}
.dropbtn9:hover, .dropbtn9:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}
.dropbtn10 {
  background-color: #FA9860;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition-duration: 0.4s;
  display: inline;
  position: relative;
  left: 15px;
  top: 15px;
}
.dropbtn10:hover, .dropbtn10:focus {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  color: #FA9860;
  border: 2px solid #FA9860;
}

.trending h2 {
  float: none;
  color:black;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  margin-top: 2%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#row {
  display: flex;
  flex-direction: row; 
  padding: 70px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.products_under_10 {
  height: 85vh;
  width: 100%;
  padding: 0 8%;
  background: white;
  position: relative;
}
.flex_item {
  padding: 10px;
  margin: 14px;
  background-color: lightgray;
  color:black;
  border: 2px solid black;
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
}
.flex_item1 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .0001px solid rgb(173, 173, 173);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://cdn.shopify.com/s/files/1/0791/2083/products/Glass-Skin-Refining-Serum.jpg?v=1597114627");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item1:hover, .flex_item1:focus {
  background-color: transparent;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  -ms-transform-origin-y: -4px;}

.flex_item2 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://tartecosmetics.com/on/demandware.static/-/Sites-master-catalog-tarte/default/dw6dd611a8/836/MAIN/836-shape-tape-concealer-light-medium-MAIN.jpg");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item3 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://www.spacenk.com/dw/image/v2/ABCE_PRD/on/demandware.static/-/Sites-spacenkmastercatalog/default/dwea8e99de/products/LAURA_MERC/UK200018591_LAURA_MERC.jpg?sw=750&sh=750");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item4 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://m.media-amazon.com/images/I/51laB6ewuFL._AC_SS450_.jpg");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item5 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://images.ulta.com/is/image/Ulta/2551164?op_sharpen=1&resMode=bilin&qlt=85&wid=800&hei=800&fmt=jpg");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item6 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://cdn.shopify.com/s/files/1/0173/5085/2708/products/TONER_TRAVEL_6326a039-e50f-4c3f-b412-13d0ca889ac2.jpg?v=1637825214");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item7 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://m.media-amazon.com/images/I/51EeambPaGL._SL1000_.jpg");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item8 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  height: 200px;
  width: 400px;
  right: 200px;
  background-image: url("https://s3.images-iherb.com/mby/mby25927/l/12.jpg");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item9 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://target.scene7.com/is/image/Target/GUEST_589e933f-f992-45c5-a154-23ef1071e43f?wid=488&hei=488&fmt=pjpeg");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.flex_item10 {
  padding: 10px;
  margin: 14px;
  color:black;
  border: .001px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  background-image: url("https://www.elfcosmetics.com/dw/image/v2/BBXC_PRD/on/demandware.static/-/Sites-elf-master/default/dwed6a3b79/2021/82846_OpenA_R.jpg?sw=1100&sh=1100&sm=fit&sfrm=png");
  background-size: cover;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8);
  border-radius: 4px;
}
.products_under_10 h1 {
  float: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:black;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  margin-top: 2%;
}
#row {
  display: flex;
  flex-direction: row; 
  padding: 50px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.category {
  height: 60vh;
  width: 100%;
  padding: 0 8%;
  background: white;
  position: relative;
}
.plglass {
  position: relative;
  bottom: -221px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.plglass h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.plglass h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.plglass h4:hover {
  color: gray;
}
.plglass h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-stretch: extra-expanded;
}
.tarte {
  position: relative;
  bottom: -195px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.tarte h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.tarte h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.tarte h4:hover {
  color: gray;
}
.tarte h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-stretch: extra-expanded;
}
.laura {
  position: relative;
  bottom: -219px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.laura h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.laura h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.laura h4:hover {
  color: gray;
}
.laura h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-stretch: extra-expanded;
}
.nyx {
  position: relative;
  bottom: -204px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.nyx h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.nyx h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.nyx h4:hover {
  color: gray;
}
.nyx h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-stretch: extra-expanded; 
}
.serum {
  position: relative;
  bottom: -229px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.serum h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.serum h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.serum h4:hover {
  color: gray;
}
.serum h5 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
}
.goodMol {
  position: relative;
  bottom: -205px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.goodMol h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.goodMol h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.goodMol h4:hover {
  color: gray;
}
.goodMol p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
}
.cerave {
  position: relative;
  bottom: -200px;
  right: 0px;
  font-size: 14px;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.cerave h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
  text-align: center;
}
.cerave h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  text-align: center;
}
.cerave h4:hover {
  color: gray;
}
.cerave p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
}
.maybelline {
  position: relative;
  bottom: -195px;
  right: 0px;
  font-size: 13px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.maybelline h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.maybelline h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.maybelline h4:hover {
  color: gray;
}
.maybelline p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
}
.laGirl {
  position: relative;
  bottom: -178px;
  right: 0px;
  font-size: 14px;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.laGirl h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
  text-align: center;
}
.laGirl h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  text-align: center;
}
.laGirl h4:hover {
  color: gray;
}
.laGirl p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
}
.elf {
  position: relative;
  bottom: -182px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: 600; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.elf h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 900;
}
.elf h4 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.elf h4:hover {
  color: gray;
}
.elf p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
}
.flex_item p {
  font-size: 12px;
  position: relative;
  bottom: -300px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.flex_item h5 {
  position: relative;
  bottom: -280px;
  right: 0px;
  font-size: 11px;
  text-align: left;
  font-weight: 300;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.flex_item {
  padding: 10px;
  margin: 14px;
  background-color: transparent;
  color:black;
  border: .001px solid rgb(88, 88, 88);
  display: flex;
  align-items: center;
  height: 200px;
  width: 400px;
  box-shadow: 5px 5px 10px 2px rgba(173, 173, 173, 0.8)
}
.category h1 {
  float: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  color:black;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  margin-top: 2%;
}
#row {
  display: flex;
  flex-direction: row; 
  padding: 50px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.dot {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/makeup-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition-duration: 0.4s;
}
.dot:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.dot2 {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/hair-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition-duration: 0.4s;
}
.dot2:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.dot3 {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/skin-care-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition-duration: 0.4s;
}
.dot3:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.dot4 {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/nails-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition-duration: 0.4s;
}
.dot4:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.dot5 {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/fragrance-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition-duration: 0.4s;
}
.dot5:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.dot6 {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/bath-body-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition-duration: 0.4s;
}
.dot6:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.dot7 {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/tools-brushes-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition: 0.4s;
}
.dot7:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.dot8 {
  height: 160px;
  width: 160px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin: 5%;
  position: relative;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(138, 138, 138, 0.8);
  background-image: url('https://media.ulta.com/i/ulta/men-bubble?w=300&h=300&fmt=webp');
  background-size: cover;
  transition-duration: 0.4s;
}
.dot8:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.4s;
  opacity: 70%;
}
.makeupCat {
  position: absolute;
  bottom: -40px;
  right: 40px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.makeupCat:hover {
  background-color: transparent;
  color: rgb(129, 129, 129); 
}
.hairCat {
  position: absolute;
  bottom: -40px;
  right: 55px;
  font-size: 20px;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.hairCat:hover {
  background-color: transparent;
  color: rgb(129, 129, 129);
}
.skinCat {
  position: absolute;
  bottom: -40px;
  right: 55px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
} 
.skinCat:hover
{
  background-color: transparent;
  color: rgb(129, 129, 129); 
}
.nailCat {
  position: absolute;
  bottom: -40px;
  right: 50px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

  .nailCat:hover {
    background-color: transparent;
  color: rgb(129, 129, 129); 
  }
  .fragCat {
  position: absolute;
  bottom: -40px;
  right: 35px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

  .fragCat:hover {
    background-color: transparent;
  color: rgb(129, 129, 129); 
  }
.bnbCat {
  position: absolute;
  bottom: -40px;
  right: 20px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

  .bnbCat:hover {
    background-color: transparent;
  color: rgb(129, 129, 129); 
  }
.toolsCat {
  position: absolute;
  bottom: -40px;
  right: 50px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

  .toolsCat:hover, .toolsCat:focus {
    background-color: transparent;
  color: rgb(129, 129, 129); 

  }
.menCat {
  position: absolute;
  bottom: -40px;
  right: 53px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

  .menCat:hover {
    background-color: transparent;
  color: rgb(129, 129, 129); 
  }
.bottom_nav {
  height: 40vh;
  width: 100%;
  padding: 0 8%;
  background: coral;
  position: relative;
  display: flex;
  flex-direction: column;
}
.bottom_nav img {
  display: flex;
  background-color: coral;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 15%;
  width: 10%;
  object-fit: contain;
  align-items: left;
  justify-content: left;
}
.bottom_nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  word-spacing: 3px;
  margin-left: 2%;
  margin-right: 2%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.bottom_nav a:hover {
  background-color: transparent;
  color: lightgray;
}
#column {
  display: flex;
  flex-direction: column; 
  padding: 50px;
  margin: 20px;
  justify-content: left;
  align-items: left;
}